{% extends "utils/base.html" %}
{% from 'utils/greeting.html' import greeting %}
{% from 'utils/form.html' import form_input, optional_indicator %}
{% from 'utils/waste_entry.html' import waste_entry, waste_table, waste_entry_script, waste_display_script %}

{% set photo_help_text %}
Uploading a picture will give us a better idea of how much recycling you have
collected, allowing us to plan our routes better.
When taking a picture, try to fit all the bags in frame.
{% endset %}

{% set location_help_text %}
Our drivers will come to pick up your waste at the location you specify. If
you're not able to use your device's location, please describe the pickup
location above instead.
{% endset %}

{% block body %}
<div class="container">
  {{ greeting('Hi, ' ~ session.get('name') ~ '!', 'Do you have recycling to be picked up?') }}
  <form>
    <div class="{{ row_style() }}">
      {{ form_input(label='Set pickup location by getting your device\'s location',
                    id='location',
                    icon='geo-alt-fill',
                    invalid_feedback='',
                    extra_attributes='disabled',
                    button_text='Get device location') }}
      <label for="manual-location" class="mb-3">
        or enter your location manually below
      </label>
      <div class="row">
        <div class="col-md-12 col-md">
          <textarea class="form-control" rows="2" id="manual-location"></textarea>
        </div>
        <div id="location-help-text" class="form-text mb-1">
          {{ location_help_text }}
        </div>
      </div>
      <div class="invalid-feedback" id="either-location-invalid-feedback"></div>
    </div>

    {{ waste_entry("Tell us about the waste", bag_sizes, material_types) }}
    {{ waste_table() }}

    <div class="{{ row_style() }}">
      {{ form_input(label='Upload a photo of the waste',
                    id='photo',
                    type='file',
                    optional=True,
                    help_text=photo_help_text,
                    extra_attributes='accept="image/*"')
      }}
    </div>

    <div class="{{ row_style() }}">
      <label for="additional-info" class="mb-3">
        Enter any additional information below {{ optional_indicator() }}
      </label>
      <div class="row">
        <div class="col-md-12 col-md">
          <textarea class="form-control" rows="2" id="additional-info"></textarea>
        </div>
      </div>
    </div>

    <div class="{{ row_style() }}">
      <input type="button" id="collection-submit" value="Submit" class="btn btn-success btn-lg px-4 me-md-2">
    </div>
  </form>
</div>
{% endblock %}

{% block footer %}
<script src="/static/js/utils/form_utils.js"></script>
<script src="/static/js/utils/request_utils.js"></script>
<script src="/static/lib/compressor.min.js"></script>
<!-- new_request has to be included before waste_entry -->
<script>
    var PHOTO_WIDTH = {{ photo_width }}
</script>
<script src="/static/js/picker/new_request.js"></script>
{{ waste_display_script() }}
{{ waste_entry_script() }}
{% endblock %}
