{% extends "utils/base.html" %}
{% from 'utils/form.html' import form_input %}
{% block body %}
  <div class="container">
    <div class="{{ row_style() }}">
      <h1>Welcome!</h1>
      <h3>Enter your username and password</h3>
    </div>
    <form>
      <div id="credentials" class="{{ row_style() }}">
        {{ form_input(label='Username',
                      id='username',
                      icon='person-fill',
                      invalid_feedback='Please enter your username',
                      extra_attributes='required') }}
        {{ form_input(label='Password',
                      id='password',
                      icon='lock-fill',
                      type='password',
                      invalid_feedback='Please enter your password',
                      extra_attributes='required'
                      ) }}
        <div class="invalid-feedback" id="invalid-credentials-feedback">
          Username or password is incorrect
        </div>
      </div>
      <div class="{{ row_style() }}">
        <input type="button" id="login-submit" value="Submit" class="btn btn-success btn-lg px-4 me-md-2">
      </div>
    </form>
  </div>
{% endblock %}
{% block footer %}
  <script src="/static/js/utils/form_utils.js"></script>
  <script src="/static/js/employee_login.js"></script>
{% endblock %}
