{% extends "utils/base.html" %}
{% from 'utils/form.html' import form_input %}
{% block body %}
  <div class="container">
    <div class="{{ row_style() }}">
      <h3>Change your password here</h3>
    </div>
    <form>
      <div class="{{ row_style() }}">
        {{ form_input(label='New Password',
                      id='password',
                      icon='lock-fill',
                      type='password',
                      invalid_feedback='Please enter your new password',
                      extra_attributes='required'
                      ) }}
        {{ form_input(label='Repeat new password',
                      id='password-repeat',
                      icon='lock-fill',
                      type='password',
                      invalid_feedback='New password does not match',
                      extra_attributes='required'
                      ) }}
      </div>
      <div class="{{ row_style() }}">
        <input type="button" id="reset-submit" value="Submit" class="btn btn-success btn-lg px-4 me-md-2">
      </div>
    </form>
  </div>
{% endblock %}
{% block footer %}
  <script src="/static/js/utils/form_utils.js"></script>
  <script src="/static/js/reset_password.js"></script>
{% endblock %}
